.headerSectionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--header-text);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-indent: 10px;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.themeButton{
  margin: 20px;
  background-color: var(--themeButton-bg);
  color: var(--themeButton-text);
}
