.headerSectionDiv {
  background-color: #fe7743;
  color: black;
  font-size: 400%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-indent: 10px;
  text-shadow: 5px 5px #D7D7D7;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
