.sidepanelSectionDiv {
  writing-mode: vertical-lr;
  text-align: center;
  vertical-align: middle;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-indent: 10px;
  height: 80vh;
  position: fixed;
  top:10vh;
  left:0;
  width: 10%;
  z-index: -1;
}